<!-- results.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Results</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Search Results</h1>
        <ul>
            {% for result in results %}
            <li><a href="https://en.wikipedia.org/wiki/{{ result.title }}">{{ result.title }}</a></li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>
